<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Store Front</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/home.css">
	<!-- FONTS  -->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Great+Vibes" rel="stylesheet">
</head>
<body>
	
	<header>
		<div id="head_links">
			<a href="signUp.html">SignUp</a>
		</div>
	</header>


	<div id="branding"><h1>Beautitude</h1></div>


	<button id="shop"><a href="/store">Shop Now</a></button>

</body>
</html>