html, body{
    height:100%;
}

body{
    height:100vh;
}

#head_links{
    margin: 10px;
    float:right;    
}

a{
    font-size: 1.4em;
    color: gray;
    opacity: .8;
    text-decoration: none;

    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}

a:hover{
    opacity: 1;
    color: #c0adb6;
}

img {
	display: block;
	border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 40%;
    width: 100%;
    margin: auto;
}

footer {
  background-color: #333;
  height: 150px;
  width: 100%;
  color: white;
  position: absolute;
}

.column1 {
  width: 30%;
  height:20px;
  text-align: center;
  padding: 2px;
  margin: auto;
  margin-left: 20px;
  float: left;
}

/* Clear floats after the columns */
.column2 {
  width: 30%;
  text-align: center;
  padding: 2px;
  margin: auto;
  float: right;
}

.main {
	min-height: 26vh;
	color:blue;
	text-align: center;
}

ul {
	list-style: none;
	text-align: left;
	color:brown;
	font-size: 20px;
}
.ul {
	width: 200px;
	margin: auto;
	color: green;
	font-size: 10px;
}
