html, body{
	height:100%;
}

body{
	height:100vh;
	background: url(../images/landing_page.jpeg);
}




#head_links{
	margin: 10px;
	float:right;	
}

a{
	font-size: 1.4em;
	color: gray;
	opacity: .8;
	text-decoration: none;

	font-family: 'Great Vibes', cursive;
	font-weight: bold;
	letter-spacing: 2px;
}

a:hover{
	opacity: 1;
	color: #c0adb6;
}





#branding{
	position: absolute;
	width: 400px;
	color: #c0adb6;
	text-align: center;
	top: 25%;

	left: 50%;
	margin: -50px 0 0 -200px;
}

#branding h1{
	font-size: 5em;
	font-family: 'Cinzel', serif;
}


#login{
	position: absolute;
	width: 400px;
	top: 50%;

	left: 50%;
	margin-left: -100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

input{
	margin: 5px;

	border-radius: 5px;

	height: 2em;

	font-size: 1.2em;
}




button{
	margin-top: 10px;

	position: absolute;
	width: 150px;
	margin-left: 50px;
	font-size: 1.2em;

	border-radius: 25px;

	background-color: #17a2b8;
}