nav {
  background-color: lightgray;
  font-size: 1.1em;
  font-family: 'Great Vibes', cursive;
  margin-top: 4px;
}

#brand{
  letter-spacing: 3px;
  font-size: 2.5em;
  float: left;

  position: relative;
  bottom: 2px;
}

li a{
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  color: pink;
}

a:link, a:visisted {
    text-decoration: none;
}

#login{
  margin:auto;
}

.row {
  display: inline-block;
  margin: 10px 15px 10px 15px;
  padding: 10px;
}

.navbar{
  margin-bottom: 0px;
}

#headline{
  width: 100%;
  height: 30px;
  background-color: black;
}

.thumbnail{
  box-shadow: 0 0 5px black; 
}

.end{
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: blue;
}

#checkout{
  font-size: 1.3em;
  
  margin-bottom: 20px;
  margin-top: 20px;
}



footer {
  background-color: #333;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  color: white;
  position: absolute;
}

.column1 {
  width: 30%;
  text-align: center;
  padding: 2px;
  margin: auto;
  margin-left: 20px;
  float: left;
}

/* Clear floats after the columns */
.column2 {
  width: 30%;
  text-align: center;
  padding: 2px;
  margin: auto;
  float: right;
}
