<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://use.fontawesome.com/95307e6bdc.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--  FONTS  -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Great+Vibes" rel="stylesheet">
    <!--  Local StyleSheet  -->
    <link rel="stylesheet" type="text/css" href="../css/store.css">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" id="brand" href="#"><strong>Beautitude</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Login Join</a></li>
            </ul>
        </div>
    </div>
</nav>
 
<div id="headline">
  
</div>
       <!-- nav bar ends -->

<!-- Trigger the Modal -->
<div class="container">
  <img id="myImg" src="https://media.licdn.com/media/AAEAAQAAAAAAAAeHAAAAJDEzNjM3ZDQ2LTRkMmEtNGFlZS1iMzMxLWFiOTJlM2VlYWQzMQ.png" alt="blush">

  <div class="main">
  	<h1>About Us</h1>
  	<h2>Team Members</h2>
    <div class="ul">
    	<ul>
    		<li>Achea</li>
    		<li>Cody</li>
    		<li>Hilton</li>
    		<li>Sanchita</li>
    	</ul>
    </div>
  </div>

</div>     
<footer>

  <div class="row">
    <div class="column1">
      <h3>BEAUTITUDE</h3>
      <p>We are a group of four extra ordinary students. This app is part of our class project. We decided to build an e-commence website specialising in cosmetics for women. We hope to have a function website. Team members are Achea: Cody: Sanchita : Hilton</p>
    </div>
    <div class="column2">
      <h3>CONTACT</h3>
          <p>Gilbert Az, Arizona 85210, USA</p>
          <p><i class="fa fa-envelope mr-3"></i> project2info@gmail.com</p>
          <p><i class="fa fa-phone mr-3"></i> + 1 480.900.1300</p>
    </div>
  </div>

</footer>

	

</body>
</html>