<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Checkout Page</title>
  <link rel="stylesheet" href="../css/store.css">
  <link rel="stylesheet" href="../css/checkout.css">
  <script src="https://use.fontawesome.com/95307e6bdc.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
​
 </head>
 <body>
  <!-- nav bar begins -->
 <nav class="navbar navbar-default navbar-fixed-top">
  
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" id="brand" href="#"><strong>Beautitude</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Login Join</a></li>
            </ul>
        </div>
    </div>
</nav>
  <!-- nav bar ended -->

  <div id="headline">
  
</div>
​
  <!-- Card for Check out Items and Total section begins -->
 <div class="summary">
​   <h2>Summary of Purchase</h2>
     <hr>
 
​      </div>

 <div class="aside">
   
   <h3 class="totalheading">Summary</h3>
    <hr>
    <p><span>Sub-Total :</span></p>
    <p><span>Estimated taxes :</span></p>
    <p><span>Estimated shipping :</span></p>
    <hr>
    <h4><span>Total :</span></h4>

    <p>Proceed to checkout</p>
    <br>
    <button type="button" name="checkout-Btn">Check out</button>
     
      </div>


 <!-- footer begins -->
<footer>
  <div class="row">
  <div class="column1">
    <h3>BEAUTITUDE</h3>
    <p>We are a group of four extra ordinary students. This app is part of our class project. We decided to build an e-commence website specialising
    in cosmetics for women. We hope to have a function website. Team member are Achea: Cody: Sanchita : Hilton</p>
  </div>
  <div class="column2">
    <h3>CONTACT</h3>
        <p>Gilber Az, Arizona 85210, USA</p>
        <p><i class="fa fa-envelope mr-3"></i> project2info@gmail.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 1 480.900.1300</p>
        </div>
  </div>
</div>
</footer>
<!-- Footer ended -->
​
 </body>
​
</html>